.removeback {
    background-color : transparent;
    font-size: 28px;
}
.white {
    color: white;
}
.direction {
    text-align: right;
}
.button_margin{
    margin : 16px;
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
}
.page2 {
    margin-right: 16px;
}