.Nab_button{
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
    font-size: 18px
}

.list_icon {
    width: 35px;
    height: 45px;
}

Nav {
    cursor: pointer !important;
}

@media (max-width: 767px) {
    .Nab_button {
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .Nab_button {
        font-size: 12px;
    }
}