.Nab_button{
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
    font-size: 1rem;
}

.Omni_chain_container {
    background: url('../images/left-gradient.png') left bottom no-repeat, 
    url('../images/right-gradient-banner.png') right top no-repeat;
    background-size: 435px, 180px;
	background-position-y: 70px;
    z-index: 1;
    font-size: 50px;
    color: white;
    display: grid;
    justify-content: center;
}

.calculation_container {
    background-color:#142544a1;
    width: 100%;
    border-radius: 0.93rem;
    border: 0;
    color: white;
    margin: 9rem auto 0;
    padding: 3.125rem;
    position: relative;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.05);
}

.cal_change {
    display: grid;
    align-items: center;
	justify-content: space-between;
}

.change_container1 {
    display:flex;
    margin-top:1.3rem;
}
.change_container2 {
    display:flex;
    margin-top:1.3rem;
}
.change_button_container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.ETH_container {
    display: flex;
	flex-direction: column;
    margin-left: 1rem;
}

.ETH_amount_input_container {
    position: relative;
	width: 19.375rem;
	height: 5rem;
	padding: 0 0.43rem 0 1rem;
	border-radius: 0.625rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: sans-serif;
	color: #fff;
    background-color: #092144;
}

.ETH_amount_input_container input {
	height: 2rem;
	width: 55%;
	border: none;
	outline: none;
	background: transparent !important;
	font-size: 1.25rem;
    color: #fff;
    margin-left: 0.625rem;
}
.ETH_amount_input_container button {
	width: 35%;
	height: 2.5rem;
	border-radius: 0.43rem;
	color: #fff;
	margin-right: 0.625rem;
    background-color: #050d21;
    border: none;
    font-size: 1.25rem;
}

.audit_button {
    font-size: 1rem;
    border-radius: 0.625rem;
    padding: 0.5rem 1.68rem;
    border: 0;
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
}