.Nab_button{
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
    font-size: 1rem;
}

.Nav_icon {
    width: 2rem;
    height: 2rem;
}

Nav {
    cursor: pointer !important;
    font-size: 1.3rem;
}

.Omni_chain_container {
    background: url('../images/left-gradient.png') left bottom no-repeat, 
    url('../images/right-gradient-banner.png') right top no-repeat;
    background-size: 435px, 180px;
	background-position-y: 70px;
    z-index: 1;
}

.top {
    margin-top: 6rem;
}

.Omni_chain {
	align-self: end;
	font-size: 4.06rem;
	font-weight: 800;
	line-height: 4.68rem;
	margin: 0px 0 9px;
	text-transform: uppercase;
	z-index: 1;
}

.color {
    color : #27ecfe;
}

.release_para {
    font-size: 1.31rem;
    padding-right: 2.5rem;
}

.start_trading_button {
    font-size: 1.125rem;
    border-radius: 0.375rem;
    padding: 0.75rem;
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
    text-align: left;
    padding-right: 2.5rem;
}

.search_back {
    background-color:#0a162e59;
    width: 100%;
    height:26.875rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 3.125rem;
    color: white;
}
.search_back p {
    font-size: 1.75rem;
}

.input_search {
	display: flex;
	margin: 2rem 1.8rem;
	justify-content: center;
}

.input_search button {
	padding: 0.4rem 0.5rem;
	background-color: transparent;
	border-radius: 6px;
	border: 1px solid #fff;
	outline: none;
	margin-left: 18px;
	height: 52px;
	width: 50px;
}

.search_icon {
	position: absolute;
	margin-left: 10px;
	margin-top: 10px;
}

.search_input_field {
	width: 25rem;
	padding: 1rem 1rem 1rem 3rem;
	background-color: transparent;
	border: 1px solid #fff;
	outline: none;
	color: #fff;
	font-size: 18px;
	height: 52px;
	border-radius: 6px;
}

.imgSize {
    width: 5rem;
    height: 5rem;
}

.three_picture_title {
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 3.375rem;
	margin: 1.5rem 0 0.5rem;
}

.three_picture_para {
	font-size: 1.125rem;
	line-height: 1.56rem;
	margin: 0;
	white-space: pre-line;
}

.graphsize {
   width: 37.5rem;
   height: 37.5rem;
}

.graph{
    grid-row-start: 1;
    grid-row-end: 3;
}

.what_omni_container {
	grid-gap: 0 3.125rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	padding-top: 9.375rem;
}

.what_omni_head {
    font-size: 55px;
    margin-bottom: 20px;
    padding-top: 6.25rem;
}

.what_omni_para {
    font-size: 1.875rem;
    line-height: 2.18rem;
    margin-bottom: 2rem;
}

.button_1 {
    font-size: 1.875rem;
    padding: 0.5rem 1.68rem;
    border-radius: 0.625rem;
    background-color: #193569;
    border: 0;
    width: auto;
    margin-bottom: 0.3rem;
    margin-right: 0.625rem;
}

.button_2 {
    font-size: 1.875rem;
    border-radius: 0.625rem;
    padding: 0.5rem 1.68rem;
    border: 0;
    width: auto;
    margin-bottom: 0.3rem;
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
}

.buttongroup_container {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);

}
.dex_blockchain_container {
    display: flex;
}

.buttonGroup_margin {
    margin-top: 3.75rem;
    text-align: center;
}

.Grnats_icon_back {
    background-color:#101e38a1;
    width: 100%;
    height: 7.8rem;
    border-radius: 0.93rem;
    font-size: 2.8rem;
    padding: 1.68rem;
    padding-left: 4.375rem;
    margin-bottom: 1.56rem;
}

.Grants_icon_size {
    width: 15%;
    height: 100%;
}

.audit_button {
    font-size: 1.875rem;
    border-radius: 0.625rem;
    padding: 0.5rem 1.68rem;
    border: 0;
    width: 19.375rem;
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
}

.audit_button_container {
     display:flex;
     align-items:center;
}

.dex_blockchain {
    margin-top: 2.5rem;
    margin-bottom: 1.56rem;
}

.what_omni {
    font-size: 3.625rem;
	font-weight: 800;
	line-height: 1;
	margin: 0 0 1.56rem;
	padding-top: 6.25rem;
}

.calculation_container {
    background-color:#142544a1;
    width: 100%;
    border-radius: 0.93rem;
    border: 0;
    color: white;
    margin: 9.37rem auto 0;
    padding: 3.125rem;
    position: relative;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.05);
}

.cal_title {
	display: flex;
	justify-content: space-between;
    font-size: 1.875rem;
}

.documentation_contain {
    display: flex;
	justify-content: space-between;
    font-size: 30px;
}

.documentation_head {
    font-size: 3.125rem;
}

.cal_change {
    display: flex;
    align-items: center;
	justify-content: space-between;
	margin-top: 3.125rem;
}

.ehtereum_picture {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-top: -30px;
}

.ETH_container {
    display: flex;
	flex-direction: column;
    margin-left: 1rem;
}

.documentation_para {
    font-size: 1.3rem;
}

.ETH_amount_input_container {
    position: relative;
	width: 19.375rem;
	height: 5rem;
	padding: 0 0.43rem 0 1rem;
	border-radius: 0.625rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: sans-serif;
	color: #fff;
    background-color: #092144;
}
.ETH_amount_input_container p {
    margin-top: 0.93rem;
    font-size: 1.25rem;
}

.ETH_amount_input_container input {
	height: 2rem;
	width: 55%;
	border: none;
	outline: none;
	background: transparent !important;
	font-size: 1.25rem;
    color: #fff;
    margin-left: 0.625rem;
}
.ETH_amount_input_container button {
	width: 35%;
	height: 2.5rem;
	border-radius: 0.43rem;
	color: #fff;
	margin-right: 0.625rem;
    background-color: #050d21;
    border: none;

}

.amount_info_button {
	width: 7.5rem;
	padding-left: 1.25rem;
	text-align: left;
	height: 2.5rem;
	border-radius: 0.43rem;
	color: #fff;
	margin-top: 0.625rem;
	background-color: #092144;
    border: none;
    font-size: 1.125rem;
}
.amount_info_button_right {
    margin-left: 0.625rem;
}

.calc_arrow_right {
	display: flex;
	align-items: center;
}

.calc_arrow_right button {
    background-color: transparent;
    border: none;
    margin-top: -1.875rem;
}

.calc_arrow_down {
	display: flex;
	align-items: center;
    display: none;
}

.calc_arrow_down button {
    background-color: transparent;
    border: none;
    margin-top: -1.875rem;
}

.change_container1 {
    display:flex;
    margin-top:1.3rem;
}
.change_container2 {
    display:flex;
    margin-top:1.3rem;
}
.change_button_container {
    
}

.subscribe_container {
    background: linear-gradient(to left, #3366ff 0%, #66ccff 100%);
    width: 100%;
    display: flex;
    border: 0;
    color: white;
    margin: 9.375rem auto 0;
    padding: 3.125rem;
    position: relative;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.05);
}
.subscribe_content {
    width: 100%;
    position: relative;
    display: flex;
	justify-content: space-between;
}

.subscribe_input_container {
    position: relative;
	height: 4.75rem;
	padding: 1rem;
	border-radius: 0.625rem;
	justify-content: space-between;
	font-family: sans-serif;
	color: #fff;
    background-color: #fff;
}


.subscribe_input_container input {
	height: 2.1rem;
	width: 58%;
	border: none;
	outline: none;
	background: #fff;
	font-size: 1.56rem;
    margin-left: 0.625rem;
}

.subscribe_input_container button {
	font-size: 1.56rem;
    height: 3.12rem;
    width: 13rem;
    border-radius: 0.625rem;
    border: 0;
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
}

.email_input_container {
    display: flex;
    align-items: center;
}

.documentation_button_contain {
    display:flex;
    align-items:center;
}

.footer_container {
	background-color:var(--bg-footer) ;
}
.detail_container {
	margin: auto;
	max-width: 1220px;
	padding: 76px 20px 96px;
	position: relative;
}

.footer_title {
	color: #bec2cb;
	font-size: 1.5625rem;
	line-height: 1.6;
	margin: 0 0 2.43rem;
}
.seperate {
	grid-gap: 3.75rem 2.5rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(-webkit-min-content, 265px));
	grid-template-columns: repeat(auto-fit, minmax(min-content, 265px));
	justify-content: space-between;
}

.icon_arrange {
	grid-gap: 40px;
	display: grid;
	grid-template-columns: repeat(4, 70px);
}
.icon_arrange_img {
	align-items: center;
    background: #0d1d36;
	border-radius: 50%;
	color: #fff;
	display: grid;
	height: 56px;
	justify-content: center;
	transition: 0.1s ease-in-out;
	width: 56px;
}

.second_detail {
	grid-gap: 19px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.second_detail p {
    align-items: center;
	display: flex;
	font-size: 18px;
	font-weight: 600;
	justify-content: space-between;
	line-height: 1.45;
	color: #fff;
	width: 100%;
}


@media (max-width: 1400px) {
    .top{
        margin-top: 5rem;
    }
    .button_1 {
        font-size: 1.3rem;
    }

    .button_2 {
        font-size: 1.3rem;
    }
    .documentation_contain {
        display: block;
        text-align: center;
    }
    .documentation_button_contain {
        display: block;
    }
    .cal_change {
        display: block;
    }
    .change_container1 {
        justify-content: center;
    }
    .change_container2 {
        justify-content: center;
    }
    .change_button_container {
        text-align: center;
    }
    .calc_arrow_down {
        display: grid;
        margin-top: 3rem;
    }
    .calc_arrow_right {
        display: none;
    }
}


@media (max-width: 1200px) {
    .top{
        margin-top: 5rem;
    }
    .Grnats_icon_back {
        height: 7rem;
        border-radius: 0.93rem;
        font-size: 2rem;
        padding: 1.68rem;
        padding-left: 4rem;
        margin-bottom: 1rem;
    }
    .subscribe_content {
        display: block;
        text-align: center;
    }
    .email_input_container {
        display: inline-block;
    }
}

@media (max-width: 992px) {
    .top {
        margin-top: 4rem;
    }
    .Omni_chain {
        font-size: 2.8rem;
        line-height: 3.5rem;
    }
    .three_picture {
        text-align: center;
    }
    .what_omni_container{
        display: contents;
    }
    .what_omni_head {
        text-align: center;
    }
    .what_omni_para {
        text-align: center;
    }

    .buttonGroup_margin{
        text-align: center;
    }
    .Grnats_icon_back {
        height: 5rem;
        font-size: 1.5rem;
        padding: 1rem;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    .Grants_icon_size {
        height: 60%;
    }
    .trade_actionButton_container {
        text-align: center;
    }
    .buttongroup_container {
        grid-gap: 10px;
        display: grid;
        grid-template-columns: repeat(1, 100%);

    }
}

@media (max-width: 767px) {
    .top {
        margin-top: 3rem;
    }
    .items {
        display: none;
    }
    .graphsize {
        width: 30rem;
        height: 30rem;
    }
    .Grants_icon_size {
        width: 8%;
        height: 60%;
    }
    .Grnats_icon_back {
        padding-left: 2.3rem;
    }
    .audit_button_container {
        display:block;
        align-items:center;
        text-align:center;
    }
    .subscribe_input_container button {
        width: auto;
        font-size: auto;
    }
}

@media (max-width: 590px) {
    .subscribe_input_container button {
        font-size: 1.3rem;
    }
    .subscribe_input_container input {
        margin-left: 0;
        width: 50%;
    }
}

@media (max-width: 576px) {
    
}

@media (max-width: 550px) {
    .documentation_head {
        font-size: 2.5rem;
    }
}

@media (max-width: 520px) {
    .graphsize {
        width: 22rem;
        height: 22rem;
    }
    .graph {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .top {
        margin-top: 2rem;
    }
    .search_input_field {
        width: 18.3rem;
    }
}

@media (max-width: 451px) {
    .subscribe_input_container button {
        font-size: 0.8rem;
    }
    .icon_arrange {
        grid-gap: 50px;
        display: grid;
        grid-template-columns: repeat(4, 40px);
    }

    .documentation_head {
        font-size: 1.8rem;
    }
    .documentation_para {
        font-size: 1rem;
    }
    .documentation_button_contain button {
        width: 100%;
        font-size: 1.5rem;
    }
    .ETH_amount_input_container {
        width: 16rem;
        height: 4.3rem;
    }
    .change_button_container button {
        width: 100%;
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .search_input_field {
        width: 15rem;
    }
}

@media (max-width: 375px) {
    .Nab_button{
        font-size: 0.7rem;
    }
    .Nav_icon {
        width: 1.5rem;
        height: 1.5rem;
    }
    .Omni_chain {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 2.68rem;
    }
    .start_trading_button {
        font-size: 1rem;
        border-radius: 0.375rem;
        padding: 0.5rem;
        padding-right: 2rem;
    }
    .start_trading_button img {
        width: 30px;
    }

    .search_back {
        width: 100%;
        height:23rem;
    }
    .search_back p {
        font-size: 1.2rem;
    }

    .search_input_field {
        font-size: 18px;
        height: 40px;
    }
    .search_icon {
        width: 15px;
        margin-top: 3px;
    }
    .input_search button {
        padding: 0.4rem 0.5rem;
        height: 40px;
        width: 50px;
    }
    .imgSize {
        width: 3.5rem;
        height: 3.5rem;
    }
    .three_picture_title {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .what_omni_para {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
    }
    .what_omni_head {
        font-size: 35px;
    }
    .graphsize {
        width: 18rem;
        height: 18rem;
    }
    .buttonGroup_margin {
        display: flex;
        justify-content: center;
    }
    
    .button_1 {
        font-size: 0.8rem;
    }

    .button_2 {
        font-size: 0.8rem;
    }
    .Grnats_icon_back {
        width: 75%;
        height: 4.5rem;
        font-size: 1.3rem;
        padding: 1rem;
        padding-left: 2rem;
        margin-bottom: 1rem;
    }
    .grants_group {
        text-align: -webkit-center;
    }
    .audit_button {
        font-size: 1rem;
        width: 13rem;
    }
    .audit_button img {
        width: 33px;
    }
    .dex_blockchain {
        margin-top: 2.8rem;
    }




    
    
    .subscribe_input_container {
        height: 3.5rem;
        padding: 0.7rem;
    }
    .subscribe_input_container input {
        height: 1.5rem;
        width: 50%;
        font-size: 1rem;
        padding-top: 0.5rem;
    }
    .subscribe_input_container button {
        font-size: 0.7rem;
        height: 1.9rem;
        width: auto;
        margin-left: 0.5rem;
    }
    .icon_arrange {
        grid-gap: 40px;
        display: grid;
        grid-template-columns: repeat(4, 40px);
    }
}