.graphsize {
   width: 600px;
   height: 600px;
}

.GroupTop {
    margin-top: 200px;
}
.title {
    font-size: 55px;
    margin-bottom: 20px;
}
.space {
    margin-bottom: 15px;
}
.color {
    color : #27ecfe;
}
.second {
    margin-top: 80px;
}
.button2 {
    font-size: 35px;
    width: 100%;
    margin-top: 20px;
    background: linear-gradient(to left, #0066ff 0%, #00ccff 100%);
}
.button1 {
    font-size: 35px;
    width: 100%;
    margin-top: 20px;
    background-color: #193569;
    border-color: #193569;
}
.button1:hover {
    text-decoration: none;
}