body div.body {
  background-image: url('/src/assets/images/background.png');
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 200% 100%;
}
@font-face {
  font-family: Ethnocentric Rg-Regular;
  src: url("/src/assets/fonts/FontsFree-Net-ethnocentric-rg.ttf");
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.navbar {
  background-image: url('/src/assets/images/nav_bg.png');
  background-size: 100% 100%;
  border-bottom: 1px solid #6b5733;
  background-color: black;
  z-index: 100;
}

.claim {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.claim .claim-content {
  border: 2px solid #6b5733dd;
  width: 600px;
  background: rgba(0, 0, 0, 0.6);
}
.claim .claim-content-info button {
  font-family: Ethnocentric Rg-Regular;
  border: none;
  border-radius: 5px;
}
.claim .claim-content-img {
  position: relative;
}
.claim .claim-content-img img {
  position: absolute;
  width: 120%;
  bottom: 0;
  left: -5%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width:574px) {
  /* .claim {
    top: 40%;
  } */
  .claim .claim-content {
    width: 80%;
  }
  .banner {
    width: 30px;
  }
  .logo {
    height: 50px;
  }
  .footer .info {
    font-size: medium !important;
  }
}